.header {
  text-align: center;
  background: url(http://i.imgur.com/OA4ReJD.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  height: 300px;
  margin-top: 0;
  
}

.header h1 {
  font-size: 70px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  position: relative;
  top: 100px;
  margin-top: 0;
  
  
 }   
 
 .header a {
   color: white;
   text-decoration: none
 }
 

 .header ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather', serif;
  margin-top: 183px;
}

 .header li {
  display: inline;
  padding: 0px 10px 0px 10px;
  }
  
li: link, li: visited, li: hover {
  text-decoration: none;

}



* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}






 
