.header {
  text-align: center;
  background: url(http://i.imgur.com/OA4ReJD.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  height: 300px;
  margin-top: 0;
  
}

.header h1 {
  font-size: 70px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  position: relative;
  top: 100px;
  margin-top: 0;
  
  
 }   
 
 .header a {
   color: white;
   text-decoration: none
 }
 

 .header ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Cabin', sans-serif;
  margin-top: 183px;
}

 .header li {
  display: inline;
  padding: 0px 10px 0px 10px;
  }
  
li: link, li: visited, li: hover {
  text-decoration: none;

}

.header a {
  color: @link-color;
  text-decoration: none;

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}

 h2 {
  font-family: 'Merriweather', 'serif';
  padding: 20px;
  text-shadow: 1px 1px 1px #ccc;

}

p .heading {
  font-family: 'Merriweather, 'serif';
  font-size: 20px
  padding: 20px;
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }


* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}






 
