.header {
  text-align: center;
  background: url(http://i.imgur.com/OA4ReJD.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  height: 300px;
  
}

.header h1 {
  font-size: 70px;
  font-family: 'Merriweather', serif;
  position: relative;
  
  
 }    

a, a: visited, a: link, a: hover {
  color: white;
  text-decoration: none;

}


.header ul, menu, a {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather', serif;
  margin-top: 180px
  color: white;
}

.header li {
  display: inline;
  padding: 0px 10px 0px 10px 
  color:white;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}






 
